<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>My Portfolio</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class='grey darken-1' role="navigation">
            <div class='nav-wrapper'>
                <div class='valign-wrapper'>
                    <p class='brand-logo' style='padding-left:15px'>Welcome!</p>
                </div>
                <ul class='right hide-on-med-and-down'>
                    <li><a href="Brandon_Benoit_Resume.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:brandon.benoit076@gmail.com"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/bbenoi01" target='_blank'><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/brandon-benoit/" target='_blank'><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                </ul>

                <ul id='nav-mobile' class='side-nav'>
                    <li><a href="Brandon_Benoit_Resume.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:brandon.benoit076@gmail.com"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/bbenoi01" target='_blank'><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/brandon-benoit/" target='_blank'><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
                </ul>
                <a href="#" data-activates='nav-mobile' class='button-collapse'><i class='material-icons'>menu</i></a>
            </div>
        </nav>

        <div class="parallax-container valign-wrapper" id='index-banner'>
            <div class="section no-pad-bot">
                <div class="container">
                    <h1 class="header center swy">Brandon's Protfolio</h1>
                    <div class="row center">
                        <h5 class="header col s12 swy">
                            Hello! My name is <%= person.firstName %> <%= person.lastName %>. Welcome to my personal portfolio.<br/>
                            This page serves as a showcase of some of the things that I have worked on. I hope you enjoy them!
                        </h5>
                    </div>
                    <div class="row center">
                        <div class="col s12">
                            <img src="me.png" alt="responsive img"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="starfield.jpeg" alt="unsplashed space" style={{width: '100%'}}/>
            </div>
        </div>

        <div class="section" id='projects'>
            <div class="container">
                <div class="row center swy">
                    <h4>Projects</h4>
                </div>
                <div class="row center">
                    <div class="col s12 offset-l3 offset-s3">
                        <div class="single-item">
                            <div class='project-item'>
                                <a href="https://bb-change-calculator.herokuapp.com/" target='_blank'>
                                    <img src="Change Calc.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created using React, Express, and Axios that gives the difference 
                                               between two dollar amounts and accurately displays change broken down 
                                               by demonination.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://bb-mortgage-calculator.herokuapp.com/" target='_blank'>
                                    <img src="Mortgage Calc.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created using React, Express, and Axios that, given loan balance
                                               and interest rate, will display the loan payment based on either a 15
                                               or 30 year term.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://bb-weather-app.herokuapp.com/" target='_blank'>
                                    <img src="Weather.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created using React, Redux Express, and Axios that gives current
                                               weather information for any city in the world. Weather information provided
                                               by Open Weather Map API.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://delicious-deliveries.herokuapp.com/" target='_blank'>
                                    <img src="Delicious Deliveries.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created with a host of technologies including but not limited to React,
                                               Redux, Loopback, and MongoDB. This is a PostMates style food ordering app that
                                               uses the Google Distance API to search for restaurants in your area.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://bb-vstda.herokuapp.com/" target='_blank'>
                                    <img src="VSTDA.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created with React, Express, and Axios to help create and keep track of
                                               daily to do items.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://bb-nfl-schedule-generator.herokuapp.com/" target='_blank'>
                                    <img src="NFL Schedule.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created using React, Express, and Axios that shows the schedule of your
                                               favorite NFL franchise. NFL information provided by FantasyData.com API and
                                               map information provided by Pigeon Maps.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://bb-movie-finder.herokuapp.com/" target='_blank'>
                                    <img src="Movie Finder.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created using React, Redux, Express, Axios, and Thunk that searches and
                                               displays movie information from the Open Movie Database API.
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class='project-item'>
                                <a href="https://jobleads.herokuapp.com/" target='_blank'>
                                    <img src="JobLeads2.png" alt="responsive image" class="img-fluid"/>
                                    <div class='project-hover'>
                                        <div class='inside'>
                                            <p>An app created with a host of technologies including but not limited to React,
                                               Redux, Loopback, and MongoDB to help graduating students of Origin Code Academy
                                               search for jobs, apply to jobs, and track the application process through intergration
                                               with the JobTrack web site. 
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='parallax-container valign-wrapper' id='about'>
            <div class='section no-pad-bot'>
                <div class='container'>
                    <div class='row center'>
                        <div class='fade'></div>
                        <section class='star-wars'>
                            <div class='crawl swy'>
                                <div class='title'>
                                    <p>Brandon Benoit</p>
                                    <h1>About Me</h1>
                                </div>
                                <p>Hello, and thank you for visiting my portfolio. My name is Brandon Benoit, 
                                   I'd like to tell you a little about myself and let you know why I created this page.
                                </p>
                                <p>I've spent the better part of the last 23 years working in the wireless industy. Spending 
                                   most of my time in retail, I've held positions in sales, sales management, sales operations 
                                   and logistics, and sales training. After a while, I changed my focus and got my A+ certification 
                                   with the intention of going into IT.
                                </p>
                                <p>I have recently graduated from  Origin Code Academy, where I was introduced 
                                   to a few different technologies including but not limited to JavaScript, HTML, and React.
                                </p> 
                                <p>I have also done work with CSS, MySQL, MongoDB, Express, React, and Redux. I have learned
                                   a lot, but I also realize that I have a lot to learn!
                                </p> 
                                <p>I am currently seeking employment as a web developer. If you would like to get ahold of me, please 
                                   enter your information in the Contact Me section, and I will promptly get back to you.
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img style='width:100vw' src="starfield.jpeg" alt="Unsplashed space">
            </div>
        </div>

        <div class="section" id='contact'>
            <div class="row">
                <div class="col s12 center">
                    <h4 class='swy'>Contact Me</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col s4 offset-s4">
                                <div class="card grey darken-4">
                                    <div class="card-content white-text">
                                        <form action='/thanks' method='POST'>
                                            <div class='input-field'>
                                                <input type="text" name='firstName' id='firstName'/>
                                                <label htmlFor="firstName">First Name</label>
                                            </div>
                                            <div class='input-field'>
                                                <input type="text" name='lastName' id='lastName'/>
                                                <label htmlFor="lastName">Last Name</label>
                                            </div>
                                            <div class='input-field'>
                                                <input type="email" name='email' id='email'/>
                                                <label htmlFor="email">Email</label>
                                            </div>
                                            <br/>
                                            <div>
                                                <button class="btn blue waves-effect waves-light" type='submit'>Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='parallax-container valign-wrapper'>
            <div class="parallax">
                <img style='width:100vw' src="starfield.jpeg" alt="Unsplashed space">
            </div>
        </div>

        <footer class='page-footer grey darken-1'>
            <div class='container'>
                <div class='row center'>
                    <div class='col s3'>
                        <a href="Brandon_Benoit_Resume.pdf" target='_blank'><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class='col s3'>
                        <a href="mailto:brandon.benoit076@gmail.com"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class='col s3'>
                        <a href="https://github.com/bbenoi01" target='_blank'><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    </div>
                    <div class='col s3'>
                        <a href="https://www.linkedin.com/in/brandon-benoit/" target='_blank'><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by Brandon Benoit
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type='text/javascript' src='./js/init.js'></script>

    </body>
</html>




