nav ul a, footer a,
nav .brand-logo {
  color: whitesmoke;
}

ul {
  height: 54px
}

.swy {
  color: #feda4a;
}

.button-collapse {
  color: whitesmoke;
}

.parallax-container {
  min-height: 380px;
  width: 100%;
  line-height: 0;
  height: auto;
  color: whitesmoke;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#contact, #projects {
  background-color: #616161;
}

#me {
  width: 400px
}

/* #about {
  max-height: 800px
} */

.img-fluid {
  max-width: 100%
}


.fade {
  position: relative;
  width: 100%;
  max-height: 10vh;
  top: -25px;
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 120s linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}